@import "tailwindcss";

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src: url("fonts/Google_Sans/GoogleSans-VariableFont_GRAD,opsz,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* override the default tailwind's mono font */
    --font-mono: "JetBrains Mono", monospace;
    --font-jetbrains: "JetBrains Mono", monospace;

    /* same as above */
    --font-serif: "Playfair Display", serif;
    --font-playfair: "Playfair Display", serif;

    /* for sans-srif */
    --font-sans: "Google Sans", sans-serif;
    --font-google: "Google Sans", sans-serif;

    --color-primary: #191919;
    --color-secondary: #b4b4b4;
    --color-white: #ffffff;
    --color-border-main: #313131;
    --color-border-sub: #1d1d1d;
    --color-border-sub-light: #1e1e1e;
    --color-border-subbody: #161616;
    --color-date-gray: #585858;
    --color-tag: #121212;
    --color-accent: #f17e14;
}

@layer base {
    :root {
        @apply scheme-dark;
    }

    ::selection {
        @apply bg-accent text-white;
    }

    body {
        @apply bg-primary text-secondary text-[1rem] font-sans overflow-x-hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer components {
    .section-container {
        @apply w-full mt-5 mb-30;
    }
    h1.section-heading::before {
        content: "# ";
        @apply text-white text-xl font-bold;
    }
    h1.section-heading {
        @apply text-white text-xl font-bold;
    }
    hr.section-break {
        @apply w-full h-px bg-border-main border-0 mt-2.5 mb-4;
    }
    .section-text p {
        @apply mt-4 text-justify;
    }
    span.section-text-highlight {
        @apply text-white font-semibold;
    }

    .project-hyphen {
        @apply bg-[#3C3C3C] w-full h-px border-0;
    }

    .nav-container {
        @apply w-full pt-20 pb-10 sticky top-0 backdrop-blur-3xl;
    }
    .nav-list {
        @apply flex items-center justify-around gap-8;
    }
    .nav-list li.nav-list-item {
        @apply hover:text-white hover:underline hover:underline-offset-4;
    }
    li.nav-list-item > a {
        @apply active:text-white;
    }

    .edu-card-link {
        @apply inline-flex items-center gap-2 text-secondary hover:underline hover:underline-offset-4 hover:text-white transition-colors;
    }
}
